<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="my-3">Guestbook Modify Page</h1>

    <form th:action="@{/board/modify}" method="post">
      <div class="form-group">
        <label for="bno">bno</label>
        <!-- gno → bno 변경 -->
        <input type="text" class="form-control" name="bno" id="bno" th:value="${dto.bno}" readonly>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" th:value="${dto.title}">
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" id="content" name="content">[[${dto.content}]]</textarea>
      </div>
      <div class="form-group">
        <label>Writer</label>
        <input type="text" class="form-control" id="writer" name="writerName" th:value="${dto.writerName}" readonly>
      </div>
      <div class="form-group">
        <label>regDate</label>
        <input type="text" class="form-control" id="regDate" name="regDate" th:value="${dto.regDate}" readonly>
      </div>
      <div class="form-group">
        <label>modDate</label>
        <input type="text" class="form-control" id="modDate" name="modDate" th:value="${dto.modDate}" readonly>
      </div>

      <input type="hidden" name="witerEmail" th:value="${dto.writerEmail}"/>
      <input type="hidden" name="page" th:value="${requestDto.page}"/>
      <input type="hidden" name="size" th:value="${requestDto.size}"/>
      <input type="hidden" name="type" th:value="${requestDto.type}"/>
      <input type="hidden" name="keyword" th:value="${requestDto.keyword}"/>

      <button type="submit" class="btn btn-primary" onclick="return confirm('수정하시겠습니까?')">Modify</button>
      <a th:href="@{/board/list(page=${requestDto.page}, size=${requestDto.size}, type=${requestDto.type}, keyword=${requestDto.keyword})}"
         class="btn btn-primary mt-3">List</a>
      <button type="submit" class="btn btn-danger" formaction="remove"
              onclick="const result = confirm('삭제하시겠습니까?'); if(result){document.querySelector('[name=page]').value =1;} return result;">
        Remove
      </button>
    </form>
  </th:block>
</th:block>
</html>
