<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="my-3">Board List Page
      <span>
        <a th:href="@{/board/register}" class="btn btn-outline-primary">REGISTER</a>
      </span>
    </h1>

    <form action="/board/list" method="get">
      <input type="hidden" name="page" value="1"/>
      <input type="hidden" name="size" th:value="${dto.size}"/>
      <div class="input-group">
        <select class="form-select" name="type" id="type" aria-label="Example select with button addon">
          <!-- null-safe로 수정 -->
          <option th:selected="${requestDto.type == null or requestDto.type == ''}">선택</option>
          <option th:selected="${requestDto != null and requestDto.type == 't'}" value="t">제목</option>
          <option th:selected="${requestDto != null and requestDto.type == 'c'}" value="c">내용</option>
          <option th:selected="${requestDto != null and requestDto.type == 'w'}" value="w">작성자</option>
          <option th:selected="${requestDto != null and requestDto.type == 'tc'}" value="tc">제목 + 내용</option>
          <option th:selected="${requestDto != null and requestDto.type == 'tcw'}" value="tcw">제목 + 내용 + 작성자</option>
        </select>
        <input type="text" class="form-control w-50" name="keyword" th:value="${requestDto != null ? requestDto.keyword : ''}"/>
        <button class="btn btn-outline-secondary">Search</button>
        <button class="btn btn-outline-secondary"
                onclick="this.closest('form').querySelectorAll('select, input[name=keyword]').forEach(el => el.remove());">
          Clear
        </button>
      </div>
    </form>

    <table class="table table-striped table-bordered table-hover my-3">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">Regdate</th>
      </tr>
      <tr th:each="b : ${dto.list}">
        <th scope="row">[[${b.bno}]]</th>
        <!--  gno → bno 수정 -->
        <td><a th:href="@{'/board/read' + ${requestDto.qs2} + '&bno=' + ${b.bno}}">
          [[${b.title}]] <span class='text-danger'>&#91;[[${b.replyCount}]]&#93;</span>
        </a></td>
        <td th:text="${b.writerName}"></td>
        <td th:text="${#temporals.format(b.regDate,'yyyy/MM/dd')}"></td>
      </tr>
    </table>

    <ul class="pagination justify-content-center">
      <li class="page-item" th:if="${dto.prev}">
        <a class="page-link" th:href="@{'/board/list' + ${requestDto.qs} + '&page=' + ${dto.start -1}}">Prev</a>
      </li>
      <li th:class="'page-item' + ${dto.page == page ? ' active' : ''}" th:each="page : ${dto.pageList}">
        <a class="page-link"
           th:href="@{/board/list(page=${page}, size=${dto.size}, type=${requestDto.type}, keyword=${requestDto.keyword})}">
          [[${page}]]
        </a>
      </li>
      <li class="page-item" th:if="${dto.next}">
        <a class="page-link"
           th:href="@{/board/list(page=${dto.end + 1}, size=${dto.size}, type=${requestDto.type}, keyword=${requestDto.keyword})}">
          Next
        </a>
      </li>
    </ul>

    <!-- Modal 부분 그대로 유지 -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">글 삭제 완료</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      let msg = [[${msg}]];
      console.log(msg)
      window.addEventListener("load",function (e) {
        if(msg) {
          const myModal = new bootstrap.Modal(document.getElementById('myModal'))
          myModal.show();
        }
      });
    </script>
  </th:block>
</th:block>
</html>
